@font-face {
    font-family: 'Museo-100';
    src: url('../webfonts/252FD4_0_0.eot');
    src: url('../webfonts/252FD4_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/252FD4_0_0.woff') format('woff'),url('../webfonts/252FD4_0_0.ttf') format('truetype');
} 

body{
    background: url(../images/bg.jpg);
}

@media (min-width: 540px) {

    .pagehead li{
        margin-right:1em;
    }

    ul.social {
        float: right;
        margin-right:1.5em;
        display:inline-block;
    }

    ul.social li{
        margin-right: 0px;
    }

    ul.social li a{
        display:none;
    }

    ul.social li a{
        width:1.5em;
        height:1.5em;
        display:inline-block;
        text-indent: -9999px;
        background-color: #20A1C0;
        border-radius: 50%;
        background-position: center center;
        background-size: 75%;
        background-repeat: no-repeat;
    }

    body{
        font-size:16px;
    }
}


@media (min-width: 700px) {
    ul.social li a{
        width:3em;
        height:3em;
    }

    .pagehead li{
        margin-right:1.5em;
    }

}

@media (min-width: 840px) {

    .wrapper .left{
        width: 77%;
        float: left;
    }

    .wrapper .right{
        width: 22%;
        float: left;
        border-left: 1px solid #eee;
        padding: 0 0 0 1em;
    }
}
