@font-face {font-family: 'Museo-100';src: url('webfonts/252FD4_0_0.eot');src: url('webfonts/252FD4_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/252FD4_0_0.woff') format('woff'),url('webfonts/252FD4_0_0.ttf') format('truetype');} 

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


.wrapper,.pagehead{
    background-color: #fff;
}


body{
    padding: 0;
    margin: 0 auto;
    width: 1000px;
    font-family: Arial;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 22px;
    text-align: justify;
    background: url(images/bg.jpg);
}

#twitter{
    background-image: url(images/twitter.svg);
}

#facebook{
    background-image: url(images/facebook.svg);
}

#github{
    background-image: url(images/github.svg);
}

.clear{
    clear:both;
}

h2{
    border-bottom: 1px solid #1790BF;
}

h3{
    font-size: 1.1em;
    margin:0;
    padding:0;
    padding-top: 10px;
    margin-top: 20px;
    font-weight: normal;
}

.subtitle{
    margin:0;
    padding:0;
    color: #777;
}

h3 span{
    display: inline-block;
    width: 10%;
    text-align: center;
    visibility: hidden;
}

h3 time {
    display:inline-block;
    width: 45%;
}

h3 time.dateend{
    text-align: right
}

h4{
    margin:0;
}

.org,
.org:link,
.org:active{
    color: #333;
    text-decoration: none;
}

h1, h2, nav, .pagehead{
    font-family: 'Museo-100', Arial, 'Helvetica Neue', Helvetica, sans-serif; 
    font-weight:100; 
    font-style:normal;
}

.pagehead{
    width: 100%;
    float:left;
    font-size: 1.8em;
}

.info{
    width:50%;
    float:left;
    padding:20px;
    padding-left: 40px;
    padding-right:40px;
}

nav{
    width: 100%;
    display: block;
    background: #ccc;
    height:60px;
    padding:20px;
    background-color: #20A1C0;
}

nav ul{
    list-style-type: none;
    padding:0;
    margin: 0;
    display: inline-block;
    padding-left: 20px;
}

nav ul li{
    display: inline-block;
    margin-right:40px;
}

nav ul li a{
    display:inline-block;
    text-decoration: none;
    text-transform: lowercase;
    color: #eee;
}

nav ul li a:link{
    color: #eee;
}

nav ul li a:hover{
    text-decoration: underline;
}

ul.social{
    float:left;
    clear:right;
    padding:20px;
}

.wrapper{
    clear:both;
    overflow: auto;
    padding:20px;
}

.wrapper section{
    float: left;
    padding:20px;
}

.wrapper .left{
    width: 50%;
}

.wrapper .right{
    width: 50%;
}

ul.social{
    list-style-type: none;
    padding:0;
    margin: 0;
    display: inline-block;
    padding-top:60px;
    width:50%;
}

ul.social li{
    display: inline-block;
    padding-left:40px;
    padding-right:40px;
}

ul.social li a{
    display:inline-block;
    width:60px;
    height:60px;
    background-color: #20A1C0;
    border-radius: 50%;
    text-indent: -9999px;

    background-position: center center;
    background-size: 75%;
    background-repeat: no-repeat;

    transition: background-position 0.1s;
    -moz-transition: background-position  0.1s; /* Firefox 4 */
    -webkit-transition: background-position  0.1s; /* Safari and Chrome */
    -o-transition: background-position 0.1s; /* Opera */
}

ul.social li a:hover{
    background-position: center 40%;
}



ul.skills{
    margin: 0;
    padding: 0;
}

ul.skills li{
    display: inline-block;
    background-color: #20A1C0;
    color: #eee;
    margin: 1px;
    padding: 3px;
    border-radius: 7px;
    font-size: 0.85em;
}


footer{
    width: 100%;
    clear: both;
    height: 120px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #0D5FA8;
    color: #eee;
}